@using Magistri.DTO
@model StudentDto
<h4>Edit a student</h4>
<form asp-controller="Students" asp-action="Edit">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input type="date" asp-for="DateOfBirth" class="form-control" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Update" />
    </div>
</form>
